@font-face {
    font-family: Mergeblack;
    src: url(../MergeBlack.woff);
}
    .row_login_center h2{
        /* padding: 30px 0; */
        text-align: center;
    font-family: Mergeblack;

    }
    .form_login{
        width: 50%;
        margin: 0 auto;
    }
    .form-group ,.btns-login{
        width: 35%;
        margin: 0 auto;
    }
    .form-control{
        padding: 16px 5px;
        margin: 15px 0;
        border-radius: 5px;
        border: none;
        outline: none;
        color: black;
        background-color: #ededed; 
        width: 100%;
    }
    .form-control:focus{
        box-shadow: 1px 2px #888888;
        

    }

    .btn-login{
       width: 50%;
        padding: 14px 20px;
        border:none;
        color: white;
        font-family: Mergeblack;
        font-size: 17px;
       
        background-color: #030303;
        cursor: pointer;
    }
  .form-group label{
    font-family: Mergeblack;

  }
  .back{
    padding: 15px 0 ;

display: block;
}
.back i span{
    width: 100%;
    margin-top: 15px;
}
    .btns-login a i{
        padding-right: 10px;
    }
    .btns-login {
        padding-bottom: 40px;
        font-family: Mergeblack;
  
        text-align: center;
    }
    .thongbao{
        color: red;
    }
    .form-group-gh{
        color: red;
    }